mixin display_publications(bib, displayYears)
	- var years = []
	each pub in bib
		if displayYears && years.indexOf(pub.YEAR) == -1
			h2(class="#{pub.YEAR}")= pub.YEAR
			- years.push(pub.YEAR)
		cite(class="#{pub.type}")
			.title #{pub.TITLE}
			.authors
				each author, i in pub.AUTHOR
					if author == 'Daniel\xa0A.\xa0Epstein'
						em= author
					else
						= author
					if i < pub.AUTHOR.length -1
						| , 
					else
						| . 
			if pub.type == 'paper' || pub.type == 'note' || pub.type == 'wip' || pub.type == 'journal'
				span.series #{pub.SERIES} 
			else
				span.series #{pub.SERIES} (#{pub.BOOKTITLE})
			if pub.local
				|  &bull; 
				a(href=pub.local target="_blank") PDF
			if pub.URL
				|  &bull; 
				a(href=pub.URL target="_blank") DOI
				|  &bull; 
				a(href=pub.bib) BibTeX
			if pub.supplemental
				|  &bull; 
				a(href=pub.supplemental target="_blank") #{pub.supplemental_name}
			if pub.notes
				.notes #{pub.notes}